@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: white;
}

main:after {
  content: attr(data-build);
  position: fixed;
  bottom: 1rem;
  right: 1rem;
  z-index: 10;
  color: rgba(255, 255, 255, .2);
  mix-blend-mode: difference;
  font-size: 0.5rem;
}

@media (max-width:580px) {
  .form-field:where(.css-dev-only-do-not-override-1uq9j6g).ant-form-item-vertical .ant-form-item-row {
    flex-direction: unset;
  }
}

.form-field .ant-form-item-control {
  flex: 1;
}

.form-field .ant-form-item-label {
  padding: 0;
}